*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

background:#f2f6ff;

}



nav{

height:70px;

background:#009879;

color:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:20px;

}



nav a{

color:white;

margin:10px;

text-decoration:none;

}



.hero{

height:90vh;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

}



.hero h1{

font-size:50px;

color:#009879;

}



.btn,
button{

background:#009879;

color:white;

padding:12px 25px;

border:none;

border-radius:10px;

cursor:pointer;

margin:10px;

}



.box{

width:350px;

margin:100px auto;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 0 15px #aaa;

}



input,select{

width:100%;

padding:12px;

margin:10px 0;

border-radius:8px;

border:1px solid #ccc;

}



.dashboard{

padding:30px;

}



.card,
.food-card{

background:white;

padding:20px;

margin:20px;

border-radius:15px;

box-shadow:0 0 10px #ccc;

}